<div class="col-md-12">
    <div class="container-prop">
        <div class="form-row" v-for="(property, i) in ">
            <span class="metismenu-icon pe-7s-plus" style=" cursor: pointer "></span>
            <div class="col-md-5 mb-3 ">
                <label for="propInput ">Property</label>
                <input type="text " class="form-control " id="propInput " placeholder="Node Property" v-model="property.propName ">
                <div class="invalid-feedback ">
                    Please provide a valid property.
                </div>
            </div>
            <div class="col-md-4 mb-3 ">
                <label for="valueInput ">Value</label>
                <input type="text " class="form-control " id="valueInput " placeholder="Property Value " v-model="property.propValue ">
                <div class="valid-feedback ">
                    Confirmed!
                </div>
            </div>
            <div class="col-md-2 mb-3 ">
                <label for="typeInput ">Type</label>
                <select type="text " class="form-control " id="typeInput " placeholder="Longitude " v-model="property.propType">
                                                    <option>String</option>
                                                    <option>Number</option>    
                                                </select>
                <div class="valid-feedback ">
                    Confirmed!
                </div>
            </div>
            <span class="metismenu-icon pe-7s-close-circle" style=" cursor: pointer "></span>
        </div>
    </div>
</div>